.component-menu {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  padding: 5px 10px;
}

.menu-list {
  display: none;
  font-size: 11px;
  margin: 0;
  list-style: none;
}

.menu-list-item {
  padding: 0;
  margin-bottom: 5px;
  border: 0.5px solid grey;
  text-align: center;
}

.menu-list[data-visible="true"] {
  display: block;
}