*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Orbitron", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background-color: #131313;
}

.flex {
  display: flex;
  flex-direction: row;
  place-items: center;
}

div {
  /* margin: 5px;
  margin-top: 0px; */
  width: fit-content;
}
.ComponentList {
  margin-left: 20px;
}
re {
  width: 1100px;
  height: 95vh;
  padding: 0;
  margin: 0;
  overflow: auto;
  overflow-y: hidden;
  font-size: 12px;
  line-height: 20px;
  background: #111111;
  border: 1px solid #777;
  color: white;
}

.btnShowTab {
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(221, 220, 220);
  padding: 10px 30px;
  border-right: 1px solid rgb(195, 193, 193);
}

.showTab {
  display: block;
  width: 70vw;
  height: 100vh;
  background-color: white;
}

.hideTab {
  display: none;
}

.workArea {
  width: 1100px;
  display: flex;
  flex-direction: row;
}

.codeMenu {
  display: block;
}

.search-button {
  padding-left: 3px;
  text-align: center;
  background-color: #f5f1f1;
  border-radius: 6px;
}
.menu-headings {
  color: white;
  margin: 15px 0px 15px 3px;
}
.codepage-buttons {
  border-radius: 4px;
  padding: 5px;
  background-color: #dcdcdc;
  margin: 5px;
}
#generatedCode {
  color: black;
  background-color: white;
}
