*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  flex-direction: row;
  place-items: center;
}

div {
  margin: 5px;
  margin-top: 0px;
  width: fit-content;
}

.c1 {
  position: relative;
  display: inline-block;
  background-color: rgb(200, 21, 21);
  padding: 20px 150px;
  user-select: none;
}

.c2 {
  position: relative;
  display: inline-block;
  background-color: rgb(21, 200, 54);
  padding: 50px 60px;
  user-select: none;
}

.c3 {
  position: relative;
  display: inline-block;
  background-color: rgb(97, 68, 228);
  padding: 70px 100px;
  user-select: none;
}

pre {
  width: 68vw;
  height: 95vh;
  padding: 0;
  margin: 0;
  overflow: auto;
  overflow-y: hidden;
  font-size: 12px;
  line-height: 20px;
  background: #111111;
  border: 1px solid #777;
  color: white;
}

.btnShowTab {
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(221, 220, 220);
  padding: 10px 30px;
  border-right: 1px solid rgb(195, 193, 193);
}

.showTab {
  display: block;
  width: 70vw;
  background-color: rgb(221, 220, 220);
  height: 100vh;
}

.hideTab {
  display: none;
}

.overlapArea {
  width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
